@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
    --font-primary: 'Montserrat', sans-serif;
    --color-primary: #000000;
    --color-secondary: #3a0ca3;
}


@import "tailwindcss";


@layer base {
    body {
        @apply font-primary bg-gray-100 text-black w-full h-full m-0 p-0;
    }
}

